.version.contact /* version checker */
{
	color: #00000D;
	background-color: #E70FC3;
}

.html
{
	background: #D9D8BC url("../images/page-bkg.jpg") repeat-y center top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 690.9749999999983px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -107px;
	margin-bottom: -346px;
	width: 0.01px;
}

#u3008
{
	z-index: 152;
	width: 1000px;
	left: -20px;
}

#u3009
{
	z-index: 153;
	width: 1000px;
	height: 107px;
	margin-right: -10000px;
}

#pu3007
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: -20px;
	margin-top: -107px;
}

#u3007
{
	z-index: 138;
	width: 1000px;
	height: 49px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#menuu2992
{
	z-index: 139;
	width: 355px;
	top: 1px;
	left: 50%;
	margin-left: -483px;
}

#u2994
{
	width: 175px;
	padding-bottom: 28px;
}

#u2994:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u2997-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2994:hover #u2997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u3003
{
	width: 175px;
	padding-bottom: 28px;
}

#u2994.MuseMenuActive,#u3003:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u3004-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2994.MuseMenuActive #u2997-4,#u3003:hover #u3004-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u2990
{
	z-index: 35;
	width: 1000px;
	padding-bottom: 1px;
	left: -20px;
}

#menuu2975
{
	z-index: 36;
	width: 355px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 17px;
}

#u2986
{
	width: 175px;
	padding-bottom: 28px;
}

#u3003.MuseMenuActive,#u2986:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u2987-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u3003.MuseMenuActive #u3004-4,#u2986:hover #u2987-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u2977
{
	width: 175px;
	padding-bottom: 28px;
}

#u2986.MuseMenuActive,#u2977:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u2980-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2986.MuseMenuActive #u2987-4,#u2977:hover #u2980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#ppu2180-6
{
	width: 0.01px;
	margin-top: 35px;
}

#pu2180-6
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2180-6
{
	z-index: 65;
	width: 624px;
	min-height: 63px;
	background-color: transparent;
	position: relative;
}

#widgetu2181
{
	z-index: 71;
	width: 0.01px;
	height: 417px;
	margin-left: 4px;
	margin-top: 19px;
	position: relative;
}

#widgetu2210
{
	z-index: 72;
	width: 287px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u2214-4
{
	z-index: 73;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #332F29;
	line-height: 1;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2213-4
{
	z-index: 77;
	width: 257px;
	min-height: 17px;
	border-width: 1px;
	border-style: solid;
	border-color: #332F29;
	background-color: #CCC59E;
	color: #332F29;
	line-height: 1;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	padding: 16px 12px 12px 16px;
}

#widgetu2210.non-empty-st #u2213-4
{
	background-color: #D9D8BC;
}

#widgetu2210:hover #u2213-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2210.focus-st #u2213-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2210.non-empty-st #u2213-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2210:hover #u2213-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2210.focus-st #u2213-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2182
{
	z-index: 81;
	width: 287px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#widgetu2210.fld-err-st,#widgetu2182.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 287px;
	height: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2183-4
{
	z-index: 82;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #332F29;
	line-height: 1;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2185-4
{
	z-index: 86;
	width: 257px;
	min-height: 17px;
	border-width: 1px;
	border-style: solid;
	border-color: #332F29;
	background-color: #CCC59E;
	color: #332F29;
	line-height: 1;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	padding: 16px 12px 12px 16px;
}

#widgetu2182.non-empty-st #u2185-4
{
	background-color: #D9D8BC;
}

#widgetu2182:hover #u2185-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2182.focus-st #u2185-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2182.non-empty-st #u2185-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2182:hover #u2185-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2182.focus-st #u2185-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2209-4
{
	z-index: 90;
	width: 451px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 146px;
}

#widgetu2181.frm-sub-st #u2209-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2208-4
{
	z-index: 94;
	width: 451px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 146px;
}

#widgetu2181.frm-subm-err-st #u2208-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2193-4
{
	z-index: 98;
	width: 451px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 146px;
}

#widgetu2181.frm-sub-st #u2209-4,#widgetu2181.frm-subm-err-st #u2208-4,#widgetu2181.frm-subm-ok-st #u2193-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 41px;
}

#widgetu2181.frm-subm-ok-st #u2193-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2187-17
{
	z-index: 102;
	min-height: 42px;
	width: 107px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	background: url("../images/large-button-back-a-u2187-17.png") no-repeat 0px 0px;
}

#u2187-17:hover
{
	background: url("../images/large-button-back-b-u2187-17-r.png") no-repeat 0px 0px;
}

#u2187-17:active
{
	background: url("../images/large-button-back-b-u2187-17-m.png") no-repeat 0px 0px;
}

#widgetu2181.frm-sub-st #u2187-17
{
	background: url("../images/large-button-back-a-u2187-17-fs.png") no-repeat 0px 0px;
}

#widgetu2188
{
	z-index: 119;
	width: 598px;
	height: 167px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: -1px;
}

#widgetu2188.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 598px;
	height: 167px;
	min-height: 0px;
	margin: 162px -10000px 0px 0px;
}

#u2189-4
{
	z-index: 120;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #332F29;
	line-height: 1;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2210.fld-err-st #u2214-4,#widgetu2188.fld-err-st #u2189-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u2191-4
{
	z-index: 124;
	width: 568px;
	min-height: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #332F29;
	background-color: #CCC59E;
	color: #332F29;
	line-height: 1;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	padding: 16px 12px 12px 16px;
}

#widgetu2188.non-empty-st #u2191-4
{
	background-color: #D9D8BC;
}

#widgetu2188:hover #u2191-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 118px;
	width: 568px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2188.focus-st #u2191-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 118px;
	width: 568px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2188.fld-err-st #u2191-4
{
	border-color: #D7244C;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 118px;
	width: 568px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2188.non-empty-st #u2191-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2188:hover #u2191-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2188.focus-st #u2191-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2188_input,#widgetu2188_prompt
{
	width: 568px;
	min-height: 118px;
	color: #332F29;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	padding: 16px 12px 12px 16px;
}

#widgetu2218
{
	z-index: 128;
	width: 287px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: -1px;
}

#widgetu2218.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 287px;
	height: 66px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u2219-4
{
	z-index: 129;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #332F29;
	line-height: 1;
	text-align: left;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2182.fld-err-st #u2183-4,#widgetu2218.fld-err-st #u2219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2210.fld-err-st #u2214-4 p,#widgetu2210.fld-err-st #u2214-4 span,#widgetu2182.fld-err-st #u2183-4 p,#widgetu2182.fld-err-st #u2183-4 span,#widgetu2188.fld-err-st #u2189-4 p,#widgetu2188.fld-err-st #u2189-4 span,#widgetu2218.fld-err-st #u2219-4 p,#widgetu2218.fld-err-st #u2219-4 span
{
	color: #D7244C;
}

#u2222-4
{
	z-index: 133;
	width: 257px;
	min-height: 17px;
	border-width: 1px;
	border-style: solid;
	border-color: #332F29;
	background-color: #CCC59E;
	color: #332F29;
	line-height: 1;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	padding: 16px 12px 12px 16px;
}

#widgetu2218.non-empty-st #u2222-4
{
	background-color: #D9D8BC;
}

#widgetu2218:hover #u2222-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2218.focus-st #u2222-4
{
	border-color: #6B6B6B;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2210.fld-err-st #u2213-4,#widgetu2182.fld-err-st #u2185-4,#widgetu2218.fld-err-st #u2222-4
{
	border-color: #D7244C;
	background-color: #D9D8BC;
	padding-top: 16px;
	padding-bottom: 12px;
	min-height: 17px;
	width: 257px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2218.non-empty-st #u2222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2218:hover #u2222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2218.focus-st #u2222-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2210.fld-err-st #u2213-4 *,#widgetu2182.fld-err-st #u2185-4 *,#widgetu2188.fld-err-st #u2191-4 *,#widgetu2218.fld-err-st #u2222-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2210_input,#widgetu2210_prompt,#widgetu2182_input,#widgetu2182_prompt,#widgetu2218_input,#widgetu2218_prompt
{
	width: 257px;
	min-height: 17px;
	color: #332F29;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	padding: 16px 12px 12px 16px;
}

#widgetu2210.focus-st #widgetu2210_prompt,#widgetu2182.focus-st #widgetu2182_prompt,#widgetu2188.focus-st #widgetu2188_prompt,#widgetu2218.focus-st #widgetu2218_prompt
{
	padding-top: 16px;
	padding-bottom: 12px;
	visibility: hidden;
}

#widgetu2210:hover #widgetu2210_input,#widgetu2210.focus-st #widgetu2210_input,#widgetu2210.fld-err-st #widgetu2210_input,#widgetu2210:hover #widgetu2210_prompt,#widgetu2210.fld-err-st #widgetu2210_prompt,#widgetu2182:hover #widgetu2182_input,#widgetu2182.focus-st #widgetu2182_input,#widgetu2182.fld-err-st #widgetu2182_input,#widgetu2182:hover #widgetu2182_prompt,#widgetu2182.fld-err-st #widgetu2182_prompt,#widgetu2188:hover #widgetu2188_input,#widgetu2188.focus-st #widgetu2188_input,#widgetu2188.fld-err-st #widgetu2188_input,#widgetu2188:hover #widgetu2188_prompt,#widgetu2188.fld-err-st #widgetu2188_prompt,#widgetu2218:hover #widgetu2218_input,#widgetu2218.focus-st #widgetu2218_input,#widgetu2218.fld-err-st #widgetu2218_input,#widgetu2218:hover #widgetu2218_prompt,#widgetu2218.fld-err-st #widgetu2218_prompt
{
	padding-top: 16px;
	padding-bottom: 12px;
}

#widgetu2210.non-empty-st #widgetu2210_prompt,#widgetu2182.non-empty-st #widgetu2182_prompt,#widgetu2188.non-empty-st #widgetu2188_prompt,#widgetu2218.non-empty-st #widgetu2218_prompt
{
	visibility: hidden;
}

#u3113
{
	z-index: 137;
	width: 292px;
	min-height: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 657px;
}

#u2162
{
	z-index: 49;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 686px;
	top: -242px;
	margin-bottom: -206px;
	position: relative;
}

#u2157-15
{
	z-index: 50;
	width: 263px;
	min-height: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2157-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2157-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u2157,#u2157-4
{
	font-size: 19px;
	color: #C13504;
	font-family: jaf-bernina-sans, sans-serif;
	font-weight: 600;
}

#u2157-7,#u2157-9,#u2157-12
{
	font-size: 19px;
	text-align: left;
	line-height: 0.7;
	color: #C13504;
	font-family: jaf-bernina-sans, sans-serif;
	font-weight: 600;
}

#pu3099
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: 30px;
}

#u3099
{
	z-index: 19;
	width: 1000px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u3099_position_content
{
	margin-bottom: -12px;
	padding-top: 13px;
}

#u3102
{
	z-index: 33;
	margin-left: 197px;
}

#u3100-5
{
	z-index: 20;
	width: 768px;
	min-height: 58px;
	margin-left: 131px;
	margin-top: 112px;
}

#u3101-8
{
	z-index: 25;
	width: 774px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 128px;
}

#u3085
{
	z-index: 5;
	width: 1001px;
	padding-bottom: 1px;
	left: -20px;
	margin-top: 1px;
}

#menuu3062
{
	z-index: 6;
	width: 355px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 645px;
}

#u2993,#u2983,#u3070
{
	width: 175px;
	min-height: 47px;
	margin-right: -10000px;
}

#u3071
{
	width: 175px;
	padding-bottom: 28px;
}

#u2977.MuseMenuActive,#u3071:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u3073-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u2977.MuseMenuActive #u2980-4,#u3071:hover #u3073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u3000,#u2976,#u3063
{
	width: 175px;
	min-height: 47px;
	margin-right: -10000px;
	left: 180px;
}

#u3066
{
	width: 175px;
	padding-bottom: 28px;
}

#u3071.MuseMenuActive,#u3066:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u3066.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u3069-4
{
	width: 175px;
	min-height: 19px;
	margin-right: -10000px;
	top: 14px;
}

#u3071.MuseMenuActive #u3073-4,#u3066:hover #u3069-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u3066.MuseMenuActive #u3069-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u3087
{
	z-index: 2;
	width: 1032px;
	left: -36px;
}

#u3086,#u3086-bw
{
	z-index: 4;
	height: 31px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 107px;
	padding-bottom: 347px;
}

#page .verticalspacer
{
	clear: both;
}

